<html>
<title><%=title%></title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter:700&display=swap" rel="stylesheet">
    <link href="/stylesheets/auth.css" rel="stylesheet">

</head>
<!------ Include the above in your HEAD tag ---------->
<body>

<% include Template/header.ejs %>
<br><br>
<div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form name="businessBasic" method="POST" action="/getting-started">
        <h3 class="w3-xxlarge greetHeadline w3-hide-small"><font color="black">Become our <%=auth%></font></h3>
        <h3 class="w3-xlarge w3-hide-large w3-hide-medium greetHeadline"><font color="black">Become our <%=auth%></font></h3>
           <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" id="businessEmail" name="email" class="form-control" placeholder="Email *" onkeyup="checkUserExist()" required/>
                    <label><h5 id="showIfUserExist"></h5></label>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="fName" class="form-control" placeholder="First name *" value="" required/>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="lName" class="form-control" placeholder="Last name *" value="" required/>
                </div>
            </div>
           </div>
           <div class="row">
               <div class="col-md-2">
                   <label><font size="2">+91 (IND) </font> </label>
               </div>
            <div class="col-md-10">
                <div class="form-group">
                    <input type="number" name="phoneNum" class="form-control" placeholder="10 digit phone number *" value="" required/>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="bName" class="form-control" placeholder="Name of the business *" value="" required/>
                    <label><font size="2">This could be the name of your store.</font></label>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" name="btnSubmit" id="emailSubmitBtn" class="btnContact" value="Continue" disabled/>
                </div>
            </div>
           </div>
    </form>
</div>

<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-firestore.js"></script>
<script>
var firebaseConfig = {
apiKey: "AIzaSyCUzbitqkIzeky0E2ZO0bhWbANgsJW_-Z0",
authDomain: "bybrisk-31f19.firebaseapp.com",
databaseURL: "https://bybrisk-31f19.firebaseio.com",
projectId: "bybrisk-31f19",
storageBucket: "bybrisk-31f19.appspot.com",
messagingSenderId: "440977790126",
appId: "1:440977790126:web:9a2c3694442c28dc6c093f",
measurementId: "G-5C0PXH170K"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
var db = firebase.firestore();

function checkUserExist()
{
    var bEmail = document.getElementById("businessEmail").value;
    var docRef = db.collection("businessPartners").doc(bEmail);

    docRef.get().then(function (doc) {
        if (doc.exists) {
            document.getElementById("showIfUserExist").innerHTML="<font color=red>User Already Exist!</font>";
            document.getElementById("emailSubmitBtn").disabled = true;
        } else {
            document.getElementById("showIfUserExist").innerHTML="<font color=#3cb371>Username Available</font>";
            document.getElementById("emailSubmitBtn").disabled = false;
        }
    }).catch(function (error) {
        console.log("Error getting document:", error);
    });
}
</script>
</body>
</html>
