<!DOCTYPE html>
<html>
<title>Bybrisk | Business Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<% include Template/header.ejs %>

<div class="w3-display-container" style="margin-bottom:50px">
    <img src="/images/demo-hoarding.jpg" style="width:100%; height:300px;">
    <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange"
         style="bottom:10%;opacity:0.7;width:70%">
        <h2><b><%=bName%>, <%=bCityName%></b></h2>
    </div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">

    <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="/images/atta.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Parivar King Atta</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="/images/bread.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Golden Toast</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
        </div>
        <div class="w3-third w3-container">
            <img src="/images/salt.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Tata Salt</b></p>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
        </div>
    </div>
</div>


</body>
</html>
